<div class="container pt-5 mt-5">
    <!--padding top - 5 ----margin top-5  -->
  
  
    <div class="form-row">
      <div class="col-md-6">
  
  
      </div>
      <div class="col-md-6">
        <div class="text-right">
          <button class="btn btn-outline-secondary btn-lg" style="margin-left:30px"
            (click)="editCustomer(customer);">Done</button>
        </div>
      </div>
      <div class="col-md-12 mx-auto">
        <h1>Buy Policy</h1>
        <hr><br><br><br>
      </div>
    </div>
  </div>
    
    <div class="form-row">
      <div class="col">
  
    <div class="container">
      <!-- Extended material form grid -->
      <form>
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
              <input mdbInput type="text" class="form-control" id="custFname" placeholder="First Name">
              <label for="custFname"><h6>First Name</h6></label>
            </div>
            <div class=" md-form form-group">
                <input mdbInput type="text" class="form-control" id="custLname" placeholder="Last Name">
                <label for="custLname"><h6>Last Name</h6></label>
             </div>
  
               <!-- Material input -->
            <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="custId" placeholder="Customer Id">
                <label for="custId"><h6>Customer Id</h6></label>
              </div>
              <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="userId" placeholder="User Id">
                  <label for="userId"> <h6>User Id</h6></label>
                </div>
  
                 <!-- Material input -->
            <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="custDob" placeholder="YYYY-MM-DD">
                <label for="custDob"> <h6>Date Of Birth</h6></label>
              </div>
              <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="custGender" placeholder="Gender">
                  <label for="custGender"> <h6>Gender</h6></label>
                </div>
                <div class="md-form form-group">
                    <input mdbInput type="text" class="form-control" id="custAddress" placeholder="Address">
                    <label for="custAddress"> <h6>Address</h6></label>
                  </div>
          </div>
          <!-- Grid column -->
  
          <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="mobile" placeholder="Mobile">
                <label for="mobile"><h6>Mobile</h6></label>
              </div>
              <div class=" md-form form-group">
                  <input mdbInput type="text" class="form-control" id="custEmail" placeholder="Email">
                  <label for="custEmail"><h6>Email</h6></label>
               </div>
    
                 <!-- Material input -->
              <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="customerbloodGroup" placeholder="Blood Group">
                  <label for="customerbloodGroup"> <h6>Blood Group</h6></label>
                </div>
                <div class="md-form form-group">
                    <input mdbInput type="text" class="form-control" id="identityType" placeholder="Id Type">
                    <label for="identityType"> <h6>Id Type</h6></label>
                  </div>
    
                   <!-- Material input -->
              <div class="md-form form-group">
                  <input mdbInput type="text" class="form-control" id="idNumber" placeholder="Id Number">
                  <label for="idNumber"> <h6>Id Number</h6></label>
                </div>
                <div class="md-form form-group">
                    <input mdbInput type="text" class="form-control" id="maritalStatus" placeholder="Marital Status">
                    <label for="maritalStatus"> <h6>Marital Status</h6></label>
                  </div>
            </div>
  
        </div>
      </form>
      <!-- Extended material form grid -->
    </div>
  
    <br><br><br>
  
  
   