  <!-- BOXES -->

  <!-- <div class="row">
      <div class="col-md-4 pb-5">
  <h1 class="vertical-text ">Admin</h1>
  </div>
</div> -->



  <section id="boxes" class="py-5">
    
  
    <div class="container ">
      <div class="row">
          <div class="col-md-12 pb-5">
            <div class="card text-center border-primary mb-resp heading">
              <div class="card-body">
                <h1 class="text-primary">Admin</h1>
                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
          </div>
        <div class="col-md-4 pb-5">
            <a href="#" >
          <div class="card hvr-grow text-center border-primary mb-resp">
            <div class="card-body">
              <h2 class="text-primary">View Policies</h2>
              <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
            </div>
          </div>
         </a>
        </div>
        <div class="col-md-4 pb-5">
            <a href="/listclaim" >
          <div class="card hvr-grow text-center bg-primary text-white mb-resp">
            <div class="card-body">
              <h3>Claim Requests</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
            </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 pb-5">
            <a href="/listticket" >
          <div class="card hvr-grow text-center border-primary mb-resp">
            <div class="card-body">
              <h3 class="text-primary">Tickets</h3>
              <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
            </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 pb-5">
            <a href="#" >
          <div class="card hvr-grow text-center bg-primary text-white">
            <div class="card-body">
              <h3>Reports</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
            </div>
          </div>
        </a>
        </div>


        

        <div class="col-md-4 pb-5">
            <a href="#" >
          <div class="card hvr-grow text-center border-primary mb-resp">
            <div class="card-body">
              <h3 class="text-primary">Vehicle Details Management</h3>
              <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
            </div>
          </div>
        </a>
        </div>

        <div class="col-md-4 pb-5 ">
            <a href="#" >
          <div class="card hvr-grow text-center bg-primary text-white">
            <div class="card-body">
              <h3>Logout</h3>
              
            </div>
          </div>
        </a>
        </div>
        

        
    </div>


    
    
    
      
  
    </div>
  </section>