
  <!-- PAGE HEADER -->
  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 m-auto text-center">
            <h1>Our Services</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, temporibus?</p>
          </div>
        </div>
      </div>
    </header>
  
    <!-- SERVICES SECTION -->
    <section id="services" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header bg-dark text-white">
                <h3>Insurance Plan One</h3>
              </div>
              <div class="card-body">
                <h4 class="card-title">Rs 59.99/Month</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, quis.</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature One
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Two
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Three
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Four
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Five
                  </li>
                </ul>
                <a routerLink="/login" class="btn purple-gradient btn-block mt-2">Buy</a>
              </div>
              <div class="card-footer text-muted">
                1 Year Plan
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header bg-dark text-white">
                <h3>Insurance Plan Two</h3>
              </div>
              <div class="card-body">
                <h4 class="card-title">Rs 99.99/Month</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, quis.</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature One
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Two
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Three
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Four
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Five
                  </li>
                </ul>
                <a routerLink="/login" class="btn purple-gradient btn-block mt-2">Buy</a>
              </div>
              <div class="card-footer text-muted">
                1 Year Plan
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-header bg-dark text-white">
                <h3>Insurance Plan Three</h3>
              </div>
              <div class="card-body">
                <h4 class="card-title">Rs 129.99/Month</h4>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, quis.</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature One
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Two
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Three
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Four
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-check"></i> Feature Five
                  </li>
                </ul>
                <a routerLink="/login" class="btn purple-gradient btn-block mt-2">Buy</a>
              </div>
              <div class="card-footer text-muted">
                1 Year Plan
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>