

  <div class="container pt-5 mt-5">
    <!--padding top - 5 ----margin top-5  -->

  
    <div class="row">
        <div class="col-md-6 mx-auto">
           </div>
      <div class="col-md-12 mx-auto">
        <h1>Policy Details</h1>
        <hr><br><br><br>
      </div>

     
    </div>

    <div class="row">
      <div class="col">

        <div class="col-md-12 mx-auto">
          <h6>Policy Number</h6>
          <h2>{{ fullPolicy.policyNumber }}</h2>
          <hr>
        </div>

        <div class="col-md-12 mx-auto">
          <h6>Issue Date</h6>
          <h2>{{ fullPolicy.policyIssueDate }}</h2>
          <hr>
        </div>

        <div class="col-md-12 mx-auto">
            <h6>Expiry Date</h6>
            <h2>{{ fullPolicy.policyExpiryDate }}</h2>
            <hr>
          </div>
          
          <div class="col-md-12 mx-auto">
              <h6>Type</h6>
              <h2>{{ fullPolicy.policyType }}</h2>
              <hr>
            </div>

          <div class="col-md-12 mx-auto">
            <h6>Sum Assured</h6>
            <h2>{{ fullPolicy.policySumAssured }}</h2>
            <hr>
          </div>

          <div class="col-md-12 mx-auto">
              <h6>Reg Id</h6>
              <h2>{{ fullPolicy.vechicleRegId }}</h2>
              <hr>
            </div>
    
            <div class="col-md-12 mx-auto">
              <h6>Status</h6>
              <h2>{{ fullPolicy.policyStatus }}</h2>
              <hr>
            </div>

        

      </div>
      <div class="col">
    
            <div class="col-md-12 mx-auto">
              <h6>Renual Date</h6>
              <h2>{{ fullPolicy.renualDate }}</h2>
              <hr>
            </div>
    
            <div class="col-md-12 mx-auto">
                <h6>Premium</h6>
                <h2>{{ fullPolicy.totalPremium }}</h2>
                <hr>
              </div>
      
              <div class="col-md-12 mx-auto">
                <h6>No Claim Bonus</h6>
                <h2>{{ fullPolicy.ncb }}</h2>
                <hr>
              </div>
    
              <div class="col-md-12 mx-auto">
                  <h6>Discount</h6>
                  <h2>{{ fullPolicy.discount }}</h2>
                  <hr>
                </div>
        
                <div class="col-md-12 mx-auto">
                  <h6>Application Id</h6>
                  <h2>{{ fullPolicy.applicationId }}</h2>
                  <hr>
                </div>

      </div>
    </div>