<!-- Claim -->
<section id="claim">
  <div class="container pt-5 mt-5">
    <!--padding top - 5 ----margin top-5  -->
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Ticket Creation</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="createTicket" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="custId">Customer Id</label>
                  <input type="text" class="form-control" formControlName="custId" id="custId" name="custId"
                    placeholder="custId">
                  <div *ngIf="submitted && createTicket.controls.custId.errors" class="error">
                    <div class="text-danger" *ngIf=" createTicket.controls.custId.errors.required">
                      Custid is Required
                    </div>
                    <div class="text-danger" *ngIf="createTicket.controls.custId.errors.minlength">Custid is must be at least 6 characters

                    </div>
                    </div>
                </div> 
              <div class="form-group">
                <label for="ticketDescription ">TicketDescription</label>
                <input type="text" class="form-control" formControlName="ticketDescription" id="ticketDescription"
                  name="ticketDescription" placeholder="ticketDescription">
                <div *ngIf="submitted && createTicket.controls.ticketDescription.errors" class="error">
                  <div class="text-danger" *ngIf=" createTicket.controls.ticketDescription.errors.required">
                    TicketDescription is Required
                  </div>
                  <div class="text-danger" *ngIf="createTicket.controls.ticketDescription.errors.minlength">Customer TicketDescription is must be at least 10 characters</div>
                  <div class="text-danger" *ngIf="createTicket.controls.ticketDescription.errors.maxlength">Customer TicketDescription is must be less than 15 characters</div>
                </div>
              </div>

              <!-- <div class="form-group">
                  <label for="policyNumber">TicketStatus</label>
                  <input type="text" class="form-control" formControlName="ticketStatus" id="ticketStatus" name="ticketStatus"
                    placeholder="ticketStatus">
                  <div *ngIf="submitted && createTicket.controls.ticketStatus.errors" class="error">
                    <div class="text-danger" *ngIf=" createTicket.controls.ticketStatus.errors.required">
                      TicketStatus is Required
                    </div>
                  </div>
                </div> -->

              <!-- <div class="form-group">
                  <label for="claimAmount ">EmployeeId</label>
                  <input type="text" class="form-control" formControlName="empId" id="empId" name="empId"
                    placeholder="empId">
                  <div *ngIf="submitted && createTicket.controls.claimAmount.errors" class="error">
                    <div class="text-danger" *ngIf=" createTicket.controls.claimAmount.errors.required">
                      EmployeeId is Required
                    </div>
                  </div>
                </div> -->


              <br>

              <input type="submit" value="Submit" class="btn btn-primary">&nbsp;&nbsp;&nbsp;
              <input type="reset" value="Cancel" class="btn  btn-danger">

              <div class="form-group text-center pt-2">


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>