<div class="container pt-5 mt-5">
  <!--padding top - 5 ----margin top-5  -->


  <div class="form-row">
    <div class="col-md-6">


    </div>
    <div class="col-md-6">
      <div class="text-right">
        <button class="btn btn-outline-secondary btn-lg" style="margin-left:30px"
          (click)="editTicket(ticket);">Done</button>
      </div>
    </div>
    <div class="col-md-12 mx-auto">
      <h1>Edit Ticket</h1>
      <hr><br><br><br>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col">
  
    <div class="container">
      <!-- Extended material form grid -->
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
              <input mdbInput type="text" class="form-control" id="ticketDescription" formControlName="ticketDescription"
                placeholder="">
              <label for="ticketDescription">
                <h6>TicketDescription</h6>
              </label>
            </div>
            <div class=" md-form form-group">
              <input mdbInput type="text" class="form-control" id="ticketStatus" formControlName="ticketStatus"
                placeholder="">
              <label for="ticketStatus">
                <h6>TicketStatus</h6>
              </label>
            </div>
            <button class="btn btn-success">Update</button>&nbsp;&nbsp;
          <a href="/listticket" class="btn btn-warning">Cancel</a>
          </div>

          
        </div>
      </form>
      
     
    </div>
  </div>
</div>