<div class="container">
  <!-- Section: Features v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">About Us</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <img class="img-fluid" src="./assets/images/cover11.png" alt="Sample image">
        <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image"> -->
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Flexible Cover</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
              quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Budget Friendly Premiums</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
              quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!--Grid row-->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Safety</h5>
            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima
              veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Features v.3 -->

</div>

<!-- <div class="container" >
  <h1 class="display-3">About Us</h1>
  <p>
          Croissant liquorice cupcake gingerbread. Lollipop chocolate danish. Carrot cake cake candy tart tootsie roll liquorice cake lemon drops pie. Wafer sugar plum gummi bears cake candy marshmallow. Jujubes pastry candy candy ice cream marshmallow fruitcake danish. Sweet icing brownie.
          Danish chocolate bar chocolate bar caramels. Bonbon pudding liquorice muffin ice cream caramels dessert croissant. Chocolate cake dessert jelly beans cake candy. 
          </p>
          <p>
          Jujubes tootsie roll chocolate cake croissant gummies fruitcake cake cupcake icing. Cupcake lollipop candy canes chocolate cake sugar plum. Topping marshmallow bonbon dessert fruitcake. Donut gingerbread lemon drops sugar plum lollipop. Pie cupcake donut cookie. Sugar plum topping bonbon carrot cake croissant chocolate jelly-o.
          Jujubes tootsie roll chocolate cake croissant gummies fruitcake cake cupcake icing. Cupcake lollipop candy canes chocolate cake sugar plum. Topping marshmallow bonbon dessert fruitcake. Donut gingerbread lemon drops sugar plum lollipop. Pie cupcake donut cookie. Sugar plum topping bonbon carrot cake croissant chocolate jelly-o.
      </p>
      
          <p id="special">
          Biscuit marshmallow marzipan cake gummi bears wafer caramels gummies gummi bears. Tootsie roll soufflé sugar plum. Bonbon brownie fruitcake jelly beans dragée dragée jelly dessert. Candy canes pie macaroon lemon drops lemon drops chocolate bar. Gummies cheesecake lemon drops sugar plum icing. Chocolate cake fruitcake lemon drops danish gummies. Candy cookie sesame snaps soufflé. Jelly chocolate lollipop ice cream macaroon cake pastry pastry cake. 
          </p>
      
          <p>
          Chupa chups oat cake sugar plum. Gingerbread topping cake gingerbread jelly cake cake.
          Tiramisu lollipop tiramisu chocolate cake donut jelly-o. Bear claw tart icing. Ice cream bonbon icing cake gummies candy canes chocolate cake. Brownie candy canes bear claw dessert chocolate cake apple pie marzipan danish chocolate.
          </p>
          <p>
           Chupa chups apple pie soufflé halvah croissant brownie. Soufflé cake cake halvah candy canes carrot cake. Brownie marzipan jelly beans carrot cake sweet roll muffin. Muffin carrot cake sugar plum wafer oat cake powder lemon drops gingerbread.
          Gummies apple pie cake tiramisu caramels candy canes oat cake candy canes apple pie. Icing sweet chocolate bar jujubes gummies sweet roll topping cake. Cake cupcake lollipop. Donut toffee macaroon sweet. Chupa chups tart candy marshmallow. Muffin gummies tiramisu danish muffin marshmallow sesame snaps cookie sweet roll.
          </p>
</div> -->
