  <!-- BOXES -->
  <section id="boxes" class="py-5">
      <div class="container ">
        <div class="row">

            <div class="col-md-12 pb-5">
                <div class="card text-center border-primary mb-resp heading">
                  <div class="card-body">
                    <h1 class="text-primary">Existing Customer</h1>
                    <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
                  </div>
                </div>
              </div>

          <div class="col-md-4 pb-5">
              <a href="/customer-profile" >
            <div class="card hvr-grow text-center border-primary mb-resp">
              <div class="card-body">
                <h2 class="text-primary">Profile</h2>
                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
           </a>
          </div>
          <div class="col-md-4 pb-5">
              <a href="/customer-my-policies" >
            <div class="card hvr-grow text-center bg-primary text-white mb-resp">
              <div class="card-body">
                <h3>View My Policies</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
          </a>
          </div>
          <div class="col-md-4 pb-5">
              <a href="/customer-buy-policy" >
            <div class="card hvr-grow text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Buy Policy</h3>
                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
          </a>
          </div>
          <div class="col-md-4 pb-5">
              <a href="/customer-renew-policy" >
            <div class="card hvr-grow text-center bg-primary text-white">
              <div class="card-body">
                <h3>Renew Policy</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
          </a>
          </div>
  
  
          
  
          <div class="col-md-4 pb-5">
              <a href="/claim-requests" >
            <div class="card hvr-grow text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Claim Insurance</h3>
                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
          </a>
          </div>
  
          <div class="col-md-4 pb-5 ">
              <a href="/create-ticket" >
            <div class="card hvr-grow text-center bg-primary text-white">
              <div class="card-body">
                <h3>Create Ticket</h3>
                <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet, deserunt.</p>
              </div>
            </div>
          </a>
          </div>

          <div class="col-md-4 pb-5">
              <a href="/home" >
            <div class="card hvr-grow text-center border-primary mb-resp">
              <div class="card-body">
                <h3 class="text-primary">Logout</h3>
                
              </div>
            </div>
          </a>
          </div>
          
  
          
      </div>
  
  
      
      
      
        
    
      </div>
    </section>