


<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">


    </div>
    <div class="col-md-6 mx-auto">
      <div class="text-right">
        <button class="btn btn-outline-secondary btn-lg" style="margin-left:30px"
          (click)="back();">Back</button>
      </div>
    </div>
    <div class="col-md-12 mx-auto">
      <h1>Claim Details</h1>
      <hr><br><br><br>
    </div>


  </div>

<table class="table table-hover" >
  <thead>
      <tr>
          <!-- <th>Sr.No</th> -->
          <th>ClaimId</th>
         <!-- <th>custId</th> -->
          <th>PolicyNumber</th>
      <th>ClaimAmount</th>
      <th>DamageType</th>
      <th>DateOfClaim</th>
		  <th>DateSettled</th>
		  <th>AmountPaid</th>
      <th>ClaimStatus</th>
      <th>Action</th>
      </tr>
  </thead>
  <tbody>
     <tr *ngFor="let claim of claims;index as i">
       <!-- <td>{{i+1}}</td> -->
        <td >{{claim.claimId}}</td>
     <!-- <td>{{claim.custId}}</td> -->
        <td >{{claim.policyNumber}}</td>
        <td >{{claim.claimAmount}}</td>
        <td >{{claim.damageType}}</td>
        <td >{{claim.dateOfClaim}}</td>
		<td >{{claim.dateSettled}}</td>
		<td >{{claim.amountPaid}}</td>
    <td >{{claim.claimStatus}}</td>
    <!-- <td ><button  class="btn btn-success" style="margin-left: 0px;"
      (click)="approveClaim(claim);" 
      >{{claim.claimStatus}}</button></td> -->
		
    <!-- [disabled]="{{buttonDisabled}}" -->
        <td >

            <!-- <div *ngIf="claim.claimStatus==='Approved'">
                <button  class="btn btn-success" style="margin-left: 0px;"
                (click)="approveClaim(claim);" disabled="claim.isDisabled">Approve</button>
               <button  class="btn btn-warning" style="margin-left: 0px;"
                  (click)="rejectClaim(claim);" disabled="claim.isDisabled">Reject</button>
            </div> -->
          <div *ngIf="claim.claimStatus==='Approved' || claim.claimStatus === 'Rejected'; else elseblock">
              <button  class="btn btn-success"
              (click)="approveClaim(claim);" disabled="claim.isDisabled">Approve</button>
             <button  class="btn btn-outline-danger" 
                (click)="rejectClaim(claim);" disabled="claim.isDisabled">Reject</button>
          </div>
          <ng-template #elseblock>
              <div >
                  <button  class="btn btn-success" style="margin-left: 0px;"
                  (click)="approveClaim(claim);">Approve</button>
                 <button  class="btn btn-outline-danger" style="margin-left: 0px;"
                    (click)="rejectClaim(claim);" 
                    >Reject</button>
              </div>
          </ng-template>

          
          <!-- <div *ngIf="claim.claimStatus!=='Approved' || claim.claimStatus !== 'Rejected'">
              <button  class="btn btn-success" style="margin-left: 0px;"
              (click)="approveClaim(claim);"
              >Approve</button>
              <button  class="btn btn-warning" style="margin-left: 0px;"
                (click)="rejectClaim(claim);" 
                >Reject</button>
          </div> -->
        </td>
         
          <td><button class="btn btn-warning" style="margin-left: 0px;"
              (click)="editClaim(claim);"
              >Edit</button></td>
              <!--<td><button class="btn btn-warning" style="margin-left: 0px;"
                (click)="editClaim(claim);"
                >Reject</button></td>
                <td><button disabled="{{buttonDisabled}}"> Click Me </button></td>-->
     </tr> 
     
  </tbody>
</table>
</div>