<div class="container pt-5 mt-5">

  <div class="row">
    <div class="col-md-6 mx-auto">


    </div>
    <div class="col-md-6 mx-auto">
      <div class="text-right">
        <button class="btn btn-outline-secondary btn-lg" style="margin-left:30px"
          (click)="back();">Back</button>
      </div>
    </div>
    <div class="col-md-12 mx-auto">
      <h1>Ticket Details</h1>
      <hr><br><br><br>
    </div>


  </div>


<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>TicketNumber</th>
      <th>CustomerId</th>
      <th>TicketDescription</th>
      <th>TicketStatus</th>
     <th>EmpId</th>
     
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let ticket of tickets;index as i">
      <td>{{i+1}}</td>
      <td>{{ticket.ticketNumber}}</td>
      <td>{{ticket.custId}}</td>
      <td>{{ticket.ticketDescription}}</td>
      <td>{{ticket.ticketStatus}}</td>
      <td>{{ticket.empId}}</td>
    </tr>

  </tbody>
</table>
</div>

