<!-- LOGIN -->
<section id="login">
  <div class="container pt-5 mt-5">
    <!--padding top - 5 ----margin top-5  -->
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Sign Up</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="addCust" (ngSubmit)="onSubmit()" >

              <div class="form-group">
                <label for="custFname">First Name</label>
                <input type="text" class="form-control" formControlName="custFname" id="custFname" name="custFname" placeholder="First Name">
                <div *ngIf="submitted && addCust.controls.custFname.errors" class="error">
                  <div class="text-danger" *ngIf=" addCust.controls.custFname.errors.required">
                    First Name is Required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="custLname">Last Name</label>
                <input type="text" class="form-control" formControlName="custLname" id="custLname" name="custLname" placeholder="Last name">
                <div *ngIf="submitted && addCust.controls.custLname.errors" class="error">
                  <div class="text-danger" *ngIf=" addCust.controls.custLname.errors.required">
                    Last Name is Required
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <label for="custDob">Date of Birth</label>
              <input type="custDob" class="form-control" formControlName="custDob" id="custDob" name="custDob" placeholder="Dob">
              <div *ngIf="submitted && addCust.controls.custDob.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.custDob.errors.required">
                  Dob is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="custGender">Gender</label>
              <input type="custGender" class="form-control" formControlName="custGender" id="custGender" name="custGender"
                placeholder="Gender">
              <div *ngIf="submitted && addCust.controls.custGender.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.custGender.errors.required">
                  Gender is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="custAddress">Address</label>
              <input type="custAddress" class="form-control" formControlName="custAddress" id="custAddress" name="custAddress"
                placeholder="Address">
              <div *ngIf="submitted && addCust.controls.custAddress.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.custAddress.errors.required">
                  Address is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="mobile">Mobile Number</label>
              <input type="mobile" class="form-control" formControlName="mobile" id="mobile" name="mobile" placeholder="Mobile">
              <div *ngIf="submitted && addCust.controls.mobile.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.mobile.errors.required">
                  Mobile Number is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="custEmail">Email</label>
              <input type="custEmail" class="form-control" formControlName="custEmail" id="custEmail" name="custEmail"
                placeholder="custEmail">
              <div *ngIf="submitted && addCust.controls.custEmail.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.custEmail.errors.required">
                  Mobile Number is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="customerbloodGroup">Blood Group</label>
              <input type="customerbloodGroup" class="form-control" formControlName="customerbloodGroup" id="customerbloodGroup"
                name="customerbloodGroup" placeholder="customerbloodGroup">
              <div *ngIf="submitted && addCust.controls.customerbloodGroup.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.customerbloodGroup.errors.required">
                  Blood Group is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="identityType">ID Type</label>
              <input type="identityType" class="form-control" formControlName="identityType" id="identityType" name="identityType"
                placeholder="identityType">
              <div *ngIf="submitted && addCust.controls.identityType.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.identityType.errors.required">
                  Id Type is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="idNumber">ID Number</label>
              <input type="idNumber" class="form-control" formControlName="idNumber" id="idNumber" name="idNumber" placeholder="idNumber">
              <div *ngIf="submitted && addCust.controls.idNumber.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.idNumber.errors.required">
                  Id Number is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="userId">User Id</label>
              <input type="userId" class="form-control" formControlName="userId" id="userId" name="userId" placeholder="userId">
              <div *ngIf="submitted && addCust.controls.userId.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.userId.errors.required">
                  UserId is Required
                </div>
              </div>
            </div>

              <div class="form-group">
                  <label for="maritalStatus">Marital Status</label>
              <input type="maritalStatus" class="form-control" formControlName="maritalStatus" id="maritalStatus" name="maritalStatus"
                placeholder="maritalStatus">
              <div *ngIf="submitted && addCust.controls.maritalStatus.errors" class="error">
                <div class="text-danger" *ngIf="addCust.controls.maritalStatus.errors.required">
                  Status is Required
                </div>
              </div>
            </div>

              <input type="submit" value="Submit" class="btn btn-primary btn-block">
              <div class="form-group text-center pt-2">

                <a href="#">Forgot Password</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- 
  LOGIN
  <section id="login">
     <div class="container pt-5 mt-5">  
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Sign Up</h4>
            </div>
            <div class="card-body">
              <form action="index.html">
                <div class="form-group">
                  
                  <label for="email">Email</label>
                  
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control">
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                      Customer
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                      Employee
                    </label>
                  </div>
                  <br>
                
                <input type="submit" value="Login" class="btn btn-primary btn-block">
                <div class="form-group text-center pt-2">
                 
                    <a href="#">Forgot Password</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->