
  <!-- PAGE HEADER -->
  <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 m-auto text-center">
            <h1 class="h1-responsive font-weight-bold">Our Services</h1>
            <p>We hate paperwork as much as you do. That’s why we help you deal with insurance instantly, simply at the tap of a button. Whether it’s purchase, support, claims, or renewal, our support team is always here for you.</p>
          </div>
        </div>
      </div>
    </header>
  
    <!-- SERVICES SECTION -->
    <section id="services" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-header bg-dark text-white">
                <h3>2WLR </h3>
              </div>
              <div class="card-body">
                <h4 class="card-title">Rs 2500/Year</h4>
                <p class="card-text">Two Wheeler I​nsurance is the perfect match for your beloved motorcycle.​</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Instant renewal process
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Customised add-on covers
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Cashless facility at top garages​
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Available at upto 20% discount
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Hassle-free Claims
          
                  </li>
                </ul>
                <a routerLink="/login" class="btn purple-gradient btn-lg btn-block mt-2">Buy</a>
              </div>
              <div class="card-footer text-muted">
                1 Year Plan
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-header bg-dark text-white">
                <h3>3WLR </h3>
              </div>
              <div class="card-body">
                <h4 class="card-title">Rs 4500/Year</h4>
                <p class="card-text">We understand all the risks, and the protection required to keep your rides smooth and carefree.</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Personal accident cover
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Consumable Cover
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Liability to third parties
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Third Party Property Damage cover 
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Low premi​um
                  </li>
                </ul>
                <a routerLink="/login" class="btn purple-gradient btn-lg btn-block mt-2">Buy</a>
              </div>
              <div class="card-footer text-muted">
                1 Year Plan
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center">
              <div class="card-header bg-dark text-white">
                <h3>4WLR </h3>
              </div>
              <div class="card-body">
                <h4 class="card-title">Rs 6500/Year</h4>
                <p class="card-text">Our car insurance plans is carefully designed to offer enhanced protection at affordable rates.</p>
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Comprehensive Damage Cover
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Add-On cov​ers
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Emergency Medical Expenses
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Towing Assistance
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-chevron-circle-right"></i> Cashless Repairs
                  </li>
                </ul>
                <a routerLink="/login" class="btn purple-gradient btn-lg btn-block mt-2">Buy</a>
              </div>
              <div class="card-footer text-muted">
                1 Year Plan
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="card text-center">
                <div class="card-header bg-dark text-white">
                  <h3>HEAVY VEHICLE</h3>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Rs 9500/Year</h4>
                  <p class="card-text">It covers your commercial vehicle against different types of external damages, along with personal and third-party liabilities. </p>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <i class="fa fa-chevron-circle-right"></i> Personal Accident Cover
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-chevron-circle-right"></i> Instant Renewal
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-chevron-circle-right"></i> 24x7 Roadside Assistance
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-chevron-circle-right"></i> Hassle-free Claims
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-chevron-circle-right"></i> ​Competitive Premium
            
                    </li>
                  </ul>
                  <a routerLink="/login" class="btn purple-gradient btn-lg btn-block mt-2">Buy</a>
                </div>
                <div class="card-footer text-muted">
                  1 Year Plan
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>